@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Nova Slim', cursive;
}
:root{
  --white: #fff;
  --black: #000;
  --primary-color: #008C1F;
  --secondary-color: #00ff37dc;
  --faded-color: #00FF3812;
  --transparent-color:#008c1e73;
  --header-text: #F3AF04;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: var(--header-text);
}
::-webkit-scrollbar-thumb:hover{
  background: var(--primary-color);
}